* 
{
    font-family: 'Poppins', sans-serif;
}

:root
{
    --dark-color: rgba(0, 0, 0, 0.15);
}

/* -------------------------------------------------------------------------------- */
/* Classes réutilisables */
.my-shadow
{
    box-shadow: 0 -0.5rem 1rem var(--dark-color);
}

.fs-7
{
    font-size: 1.15rem;
}

/* -------------------------------------------------------------------------------- */
html,body
{
    height: 100%;
}

body
{
    display: grid;
    grid-template-rows: auto 1fr auto;
}




nav a, footer p
{
    font-family: 'Pacifico', cursive;
}

.card
{
    width: 100%;
    border-radius: 20px;
    transition: 1s;
}

.card:hover
{
    transform: scale(1.05);
    transition: 1s;
}

@media screen and (min-width: 768px)
{
    .card
    {
        width: 60%;
    }    
}

@media screen and (min-width: 1024px)
{
    .card
    {
        width: 40%;
    }    
}




